<!doctype html>
<html>
    <head>
        <!-- LOCALIST COMMENT - START head_tags -->
        {{! FIXME: Localist shoves its own viewport tag in }}
        <meta name="viewport" content="width=device-width">
        <!-- LOCALIST COMMENT - PLACEHOLDER localist_styles -->
        <!-- LOCALIST COMMENT - PLACEHOLDER localist_js -->
        {{! NOTE: Localist injects the <title> tag, so don't add it here }}
        <link rel="stylesheet" type="text/css" href="{{wrapperHost}}/css/style.css">
        <!-- LOCALIST COMMENT - END head_tags -->
    </head>
    <body>
        {{! If IE & IE LT 11, show message advising to get real browser }}
        <!-- LOCALIST COMMENT - START body -->
        <header id="main-header">
            {{! Dimensions needed? }}
            <div id="logo-container">
                <a href="{{logoLink}}">
                    <img id="header-logo" title="{{logo.alt}}" alt="{{logo.alt}}" src="{{wrapperHost}}/{{logo.src}}">
                </a>
            </div>
            <button id="search-button" class="fa fa-search toggle" title="Search" data-target="#search-container"></button>
            <button class="fa fa-bars toggle" title="Menu" id="menu-button" data-target="#main-menu"></button>
            <nav id="menu-container">
                <ul id="search-container"></ul>
                <ul id="main-menu" class="menu">
                    <li>
                        <button class="toggle toggle-submenu" data-target="#menu-about">About</button>
                        <ul class="menu submenu" id="menu-about">
                            <li>
                                <a target="_blank" href="//locals.social/about-company">Company</a>
                            </li>
                            <li>
                                <a target="_blank" href="//locals.social/about-team">The Team</a>
                            </li>
                            <li>
                                <a target="_blank" href="//locals.social/contact">Contact</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="//locals.social/faqs">FAQ's</a></li>
                </ul>
            </nav>
        </header>
        <nav id="localist-menu-container">
            <!-- LOCALIST COMMENT - PLACEHOLDER user_menu -->
        </nav>
        <div id="content-container">
            <nav id="localist-breadcrumb">
                <!-- LOCALIST COMMENT - PLACEHOLDER top_bar -->
            </nav>
            <div id="localist-content">
                <!-- LOCALIST COMMENT - PLACEHOLDER content -->
            </div>
        </div>
        <!-- LOCALIST COMMENT - END body -->
        <!-- LOCALIST COMMENT - START after_grid -->
        <footer>
            <div id="app-info">
                <p>{{brandName}} is available free for iPhone</p>
                <div id="appstore-icons">

                </div>
            </div>
            <ul id="footer-links">
                <li>Privacy</li>
                <li>T&amp;Cs</li>
                <li>Subscribe</li>
            </ul>
            <p id="powered-by">
                <span>Powered by</span>
                <img alt="locals.social Logo" id="ls-logo"
                     width="128" height="32"
                     src="{{wrapperHost}}/img/locals-social-logo.png">
            </p>
            <div id="social-icons">
                <a id="social-icon-twitter" class="fa fa-twitter social-icon" title="Twitter"></a>
                <a id="social-icon-facebook" class="fa fa-facebook social-icon" title="Facebook"></a>
                <a id="social-icon-pinterest" class="fa fa-pinterest social-icon" title="Pinterest"></a>
                <a id="social-icon-instagram" class="fa fa-instagram social-icon" title="Instagram"></a>
                <a id="social-icon-google-plus" class="fa fa-google-plus social-icon" title="Google+"></a>
                <a id="social-icon-email" class="fa fa-envelope social-icon" title="Email"></a>
            </div>
        </footer>
        <!-- LOCALIST COMMENT - END after_grid -->
        {{! Localist strips out script tags in head, so this must go here }}
        <script async type="application/javascript" src="{{wrapperHost}}/js/main.js"></script>
    </body>
</html>
